*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main{
    background-color:white;
}
#header{
    height: 57px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    position: relative;
}
#header #logo{
    float: left;
    position: absolute;
    left: 20px;
    cursor: pointer;
}
#nav{
    display: inline-block;
    position: absolute;
    left: 80px;
}
#nav>li{
    display: inline-block;
}
#nav li a{
    text-decoration: none;
    color: black;
}
#nav li{
    display: inline-block;
    padding: 0 35px;
    line-height: 57px;
    text-transform: uppercase;
    
}
#nav li:hover{
    border-bottom: #3b3939 solid 3px;
    transition: 0.15s;
}
#header .search, .shopping{
    float: right;
    padding: 0 20px;
    cursor: pointer;
}
.shopping{
    position: absolute;
    right: 20px;
}
.search{
    position: absolute;
    right: 90px;
}
#header .search-icon{
    color:black;
    font-size: 25px;
    line-height: 57px;
}
#header .shop-icon{
    color:black;
    font-size: 30px;
    line-height: 57px;
}
.search:hover, .shopping:hover{
    background-color: #b6b3b3;
}
img{
    width: 57px;
    height: 57px;

}
#navigation{

}
#content{

}
#slider{
    margin-top: 57px;
}
#footer{

}
.mot{
	width: 250px;
	height: 250px;
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 0;
}
.hai{
	width: 250px;
	height: 250px;
	padding-right: 30px;
}
.ba{
	width: 250px;
	height: 250px;
	padding-right: 30px;
}
.tu{
	width: 250px;
	height: 250px;
	padding-right: 30px;
}
.nam{
	width: 250px;
	height: 250px;
	padding-right: 30px;
}
.sau{
	width: 250px;
	height: 250px;
	padding-right: 30px
}
.bay{
	width: 250px;
	height: 250px;
	padding-right: 30px;
	padding-left: 30px;
}
.tam{
	width: 250px;
	height: 250px;
	padding-right: 30px;
}
.chin{
	width: 250px;
	height: 250px;
	padding-right: 30px;
}
.muoi{
	width: 250px;
	height: 250px;
	padding-right: 30px;
}
#anh{
	float: left;
}
#anh #a{
	padding-left: 30px;
	font-size: 12px;
	color:black;
	font-weight: 600;
}
#anh1 #b{
	font-size: 12px;
	color:black;
	font-weight: 600;
}
#anh2 #c{
	font-size: 12px;
	color:black;
	font-weight: 600;
}
#anh3 #d{
	font-size: 12px;
	color:black;
	font-weight: 600;
}
#anh5 #f{
	font-size: 12px;
	color:black;
	font-weight: 600;
}
#anh6 #g{
	font-size: 12px;
	color:black;
	font-weight: 600;
	padding-left: 30px;
}
#anh7 #h{
	font-size: 12px;
	color:black;
	font-weight: 600;
}
#anh9 #l{
	font-size: 12px;
	color:black;
	font-weight: 600;
}
#anh4 #e{
	padding-left: 30px;
	font-size: 12px;
	color:black;
	font-weight: 600;
	padding-left: 0;
}
#anh8 #k{
	padding-left: 30px;
	font-size: 12px;
	color:black;
	font-weight: 600;
}
#anh1{
	float: left;
}
#anh{
	float: left;
}
#anh2{
	float: left;
}
#anh3{
	float: left;
}
#anh4{
	float: left;
}
#anh5{
	float: left;
}
#anh6{
	float: left;
}
#anh7{
	float: left;
}
#anh8{
	float: left;
}
#anh9{
	float: left;
}
