*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Phần Ssstutter*/
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contain{
    background-color:white;
    height: 4000px;
    width: 100%;
}
#header{
    height: 57px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    overflow:hidden;
}
#header:hover{
    overflow:inherit;
}

#header #logo{
    display: block;
    width: 100px;
    line-height: 57px;
    position: absolute;
    left: 40px;
    cursor: pointer;
}
.logo-img{
    height: 100%;
    width: 100%;
}
#nav{
    display: inline-block;
    position: absolute;
    left: 150px;
}
#nav>li{
    display: inline-block;
}
#nav li a{
    text-decoration: none;
    color: black;
}
#nav li{
    display: inline-block;
    padding: 0 35px;
    line-height: 57px;
    text-transform: uppercase;
    
}
#nav li:hover{
    border-bottom: #3b3939 solid 3.5px;
    transition: all 0.15s;
    font-weight: 600;
    font-size: 20px;
}
#header .search, .shopping,.user{
    float: right;
    padding: 0 20px;
    cursor: pointer;

}
.shopping{
    position: absolute;
    right: 20px;
}
.search{
    position: absolute;
    right: 150px;
}
.search-txt{
    position: absolute;
    top: 15px;
    right: 55px;
    border-radius:20px ;
    border:  none;
    outline: none;
    padding: 0;
    transition: 0.4s;
    width: 0px;
    /* background-color: #3b3939; */
    /* color: white; */
}
.search:hover>.search-txt{
    width: 200px;
    border: 0.1px rgb(139, 134, 134) solid;
    
}
#header .search-icon{
    color:black;
    font-size: 25px;
    line-height: 57px;
}
#header .shop-icon{
    color:black;
    font-size: 27px;
    line-height: 57px;
}
.user{
    position: absolute;
    right: 90px;
}
#header .user a{
    text-decoration: none;
}
#header .user-icon{
    color: black;
    font-size: 30px;
    line-height: 57px;
}
.search:hover , .shopping:hover, .user:hover {
    background-color: #b6b3b3;
}

.shopping .shop-icon{
    position: relative;
}

.shopping .hienthishop {
    position: absolute;
    right: 0;
    display: none;
    width: 350px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.shopping>.shop-icon>.hienthishop>ul{
    list-style-type: none;
    font-size: 16px;
    margin: 0;
}

.shopping>.shop-icon>.hienthishop>ul>h6{
    font-size: 20px;
}

.shopping>.shop-icon>.hienthishop>.hienthishop-thanhtoan{
    text-align: center;
    line-height: 20px;
    background-color: black;
    color: white;
    padding: 20px 0;
    margin: 0;
}

.shopping .shop-icon:hover .hienthishop{
    display: block;
}
#slider {
    margin-top: 60px;
}

#content{
    padding: 80px 0 40px ;
}

.content1{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    grid-column-gap: 28px;
    padding: 0 25px;

}

#content>.content1>.image-content1{
    width: 100% ;
    height: 100%;
    padding-left: 100px;
}

#content>.content1>.image-content1>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#content>.content1>.text-content1{
    padding:40px;
}

#content>.content1>.text-content1>h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1;
    font-size: 50px;
    margin-bottom: 28px;
}

#content>.content1>.text-content1>a{
    text-decoration: none;
    color: black;
    border: black solid 1px;
    padding: 14px 24px;
}

#content>.subcon1{
    margin-top: 50px;
    padding-bottom: 10px;
    font-size: 16px ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
#content>.subcon2{
    color: #ACACAC;
    font-size: 14px;
    margin-bottom: 100px;
    text-align: center;
}
.heading-section{
    font-size: 42px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 20px 0;
}
.heading-section:hover{
    color: #808080;
}
.content2  {
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
}

.left, .right{
    font-size: 60px;
    color: rgb(209, 198, 198);
    position: absolute;
    top: 230px;
    left: 20px;
    display: none;
}
.ti-arrow-circle-right{
    left: 1250px;
}
.slider-sanpham{
    width: 9999px;
    transition: all 0.5s;
}
.slider-sanpham:hover .left{
    display: block;
}
.slider-sanpham:hover .right{
    display: block;
}
.content2 .col-sm-3{
    float: left;
    max-width: 292px;
}
.sanpham{
    background-color: gray;
    width: 100%;
    height: 335px;
    margin-bottom: 10px;
}
.content3{
    background-color: #adbabf;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}
.content3 .sanphamfix{
    height: 470px;
}
.content3 .sanpham-text{
    color: white;
}
.content3 .col-sm-4{
    float: left;
    max-width: 390px;
    margin-right: 10px;
}
.circle{
    top: 350px;
}
.content4{
    padding: 50px 0;
}
.content4 .col-sm-3{
    max-width: 292px;
}
.content5{
    margin-top: 40px;
}
.story-img{
    width: 500px;
}
.story-text{
    font-size: 18px;
    font-weight: 600;
    color: rgb(53, 51, 51);
    margin-top: 12px;
}
#footer{
    padding: 50px 20px 100px 20px;
    background-color: rgb(245, 245, 245);
    margin-top: 100px;
}
.col-footer{
    margin: 50px;
}
#footer .title-footer{
    font-weight: 646;
    font-size: 20px;
    margin-bottom: 10px;
}
#footer .content-footer{
    color: #ACACAC;
    font-size: 16px;
    font-weight: 500;
}
.icon-footer .iconft{
    color: #ACACAC;
    font-size: 30px;
}




/*Phần New Collection*/
.sliderNC{
    position: relative;
    background-color: rgb(219, 189, 150);
}
.videoNC{
    max-width: 364px;

}
.video-contentNC{
    position: absolute;
    top: 250px;
    left: 400px;
}
.vc-headingNC{
    color: #054C7B;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.vc-meanNC{
    color: #054C7B;
    font-size: 20px;
}
.content1NC{
    margin-bottom: 100px;
}
.look{
    width: 230px;
        height: 350px;
    margin-top: 30px;
} 
.content1NC>.container>.row>.col-3>h6{
    color:#054C7B;
    text-align: center;
    font-size: 20px;
}
.content1-headingNC{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}
.paragraph{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.content2-1NC{
    margin: 100px 0;
}
.content2-1NC>.container>.row>.col-6>.paragraph{
    margin-top: 150px;
}
.content2-1-imgNC{
    width: 398px;
    height: 498px;
}
.content2-2-imgNC{
    width: 323px;
}
.content2-2NC>.container>.row>.col-6>.paragraph{
    margin-top: 100px;
}
.content2-2NC>.container>.row>.col-6{
    margin-left: 50px;
}
.content2-2NC{
    margin-bottom: 200px;
}


/*Phần Sản phẩm*/
.xemsp{
    display: flex;
    flex-direction: row;
}
.thongtinsp-img{
    width: 62%;
}
.thongtinsp-text{
    width: 35%;
    margin-top: 40px;
    margin-left: 40px;
}
.thongtinsp-img .bigimg{
    display: flex;
    flex-wrap: wrap;

}
.thongtinsp-img>.bigimg>.imgbig-sp{
    width: 50%;
}
.xemsp{
    margin-bottom: 100px;
    margin-top: 57px;
}
.thongtinsp-text>div{
    position: sticky;

}
.thongtinsp-text .choice_color{
    margin-top: 35px;
}
.thongtinsp-text .choice_color .imgmin-sp{
    width: 70px;
    height: 77px;
    margin: 0 5px;
}
.thongtinsp-text .choice_color .imgmin-sp:hover{
    border: black solid 1px;
}
.thongtinsp-text .choice_size{
    margin-top: 35px;
}

.thongtinsp-text .choice_size .choice_sizesp{
    display: flex;
    flex-direction: row;
    
}
.thongtinsp-text>.choice_size>.choice_sizesp>p{
    padding: 11px 18px;
    margin: 0 10px;
    border: solid rgb(194, 185, 185) 1px;
}
.thongtinsp-text>.choice_size>.choice_sizesp>p:hover{
    border-color: black;
}
.thongtinsp-text .them{
    margin-top: 40px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
}
.thongtinsp-text .them:hover{
    background-color: white;
    color: black;
    border: black solid 1px;
    transition: 0.5s;

}
.abc{
    text-decoration: none;
    color: black;
}
.abc:hover{
    color: black;
}
.chitiet{
    display: flex;
    margin-bottom: 80px;
}
.huongdan>h6{
    margin-top: 50px;
    font-weight: 400;
    padding-bottom: 10px;
}
.huongdan>h6:hover{
    border-bottom: black solid 1px;
}


/*Phần SSStory*/
.body{
    padding:0 18%;
    margin-top: 100px;
    margin-bottom: 150px;
}
.body .author-info{
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.body>.author-info>p{
    font-weight: 700;
} 
.body .author-info .name-author{
    color: #AEAEAE;
    font-weight: 500;
}
.body .content-story{
    margin: 50px 20px;
    font-size: 18px;
    font-weight: 500;
}
.table{
    margin-top: 100px;
    margin-bottom: 100px;
}


/*Phần Daily Better*/
.bodyDB{
    margin-top: 100px;
    width: 100%;
}
.text__img{
    width: 100%;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 30px;
}
.text__img>img{
    width: 30%;
}
.section__layout{
    padding: 30px 70px;
    width: 100%;
}
.section__layout .video__layout{
    width: 35%;
    margin: 0 29% 0 33%;
}
.section__layout .img__layout{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 80px;
}
.section__layout>.img__layout>img{
    width: 49.2%;
}
.THECOLLECTION{
    margin-top: 80px;
    padding: 0 70px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 150px;
}
.THECOLLECTION .THECOLLECTION__sp{
    /* width: 25%; */
    text-align: center;
}
.img-THECOLLECTION{
    width: 450px;
    height: 550px;
    margin: 0 -25px;
}
.THECOLLECTION__album>.row{
    margin-left: -120px;
}
.THECOLLECTION__album>.row>.THECOLLECTION__sp>p{
    margin-left: 115px;
}

.THECOLLECTION__sp:hover .img-THECOLLECTION{
    width: 480px;
    height: 580px;
    transition: 0.5s;
}
.THECOLLECTION__album>.row>.THECOLLECTION__sp:hover>p{
    margin-left: 150px;
}

/*MOBILE: WIDTH < 740PX*/
@media only screen and (max-width: 37.4375em){
    /*---------------------INDEX--------------------------------*/
    #nav{
        left: 10px;
    }
    #logo{
        display: none !important;
    }
    .user{
        display: none;
    }
    .search{
        display: none;
    }
    .shopping{
        display: none;
    }
    #header:hover{
        overflow: hidden;
    }
    .content1{
        display: flex;
        flex-direction: column;
    }
    .text-content1{
        padding-left: 0 !important;
        padding-top: 20px !important;
    }
    .text-content1>h2{
        font-size: 30px !important;
        margin-bottom: 10px !important;
    }
    .text-content1>a{
        padding: 8px 18px !important;
        font-size: 13px;
    }
    .image-content1{
        padding-left: 0 !important;
    }
    .image-content1>a>img{
        width: 200px !important;
    }
    .contain{
        overflow: hidden !important;
    }
    #slider{
        width: 300% !important;
        margin-left: -280px;
    }
    .heading-section{
        font-size: 30px !important;
    }
    .slider-sanpham:hover .left{
        display: none;
    }
    .slider-sanpham:hover .right{
        display: none;
    }
    .content2 .col-sm-3>a>img{
        width: 157px;
        height: 200px;
    }
    .content2 .col-sm-3{
        max-width: 157px;
        margin: 0 10px;
    }
    .content3 .col-sm-4>a>img{
        width: 270px;
        height: 340px;
    }
    .content3 .col-sm-4{
        max-width: 280px;
        margin: 0 5px;
    }
    .content4 .row{
        margin: auto;
    }
    .content4 .col-sm-3>a>img{
        width: 150px;
        height: 200px;
    }
    .content4 .col-sm-3{
        max-width: 157px;
        margin: 0 5px;
    }
    .content5 .row{
        margin: auto;
    }
    .content5 .col-sm-6>a>img{
        width: 300px;
    }
    .content5 .col-sm-6{
        margin-bottom: 20px;
    }
    .col-footer{
        margin-left: 0;
    }
/*-------------------------------------Daily better--------------------------*/
    .text__img>img{
        width: 260px;
        padding: 0;
    }
    .section__layout{
        padding: 0 10px;
    }
    .section__layout .video__layout{
        width: 70%;
        margin: auto;
    }
    .img__layout{
        margin-bottom: 20px !important;
    }
    .THECOLLECTION{
        padding: 0;
        text-align: center;
    }
    .row__album{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .THECOLLECTION__sp{
        margin-left: 10% !important;
    }
    .img-THECOLLECTION{
        /* margin-left: 5% !important; */
        width: 400px;
        height: 500px;
    }
    .THECOLLECTION__album>.row>.THECOLLECTION__sp>p{
        /* margin-left: 200px; */
        margin-left: 10px;
    }
    .THECOLLECTION__sp:hover .img-THECOLLECTION{
        width: 430px;
        height: 530px;
        margin-left: 2px;
    }
    .THECOLLECTION__sp:hover>p{
        margin-left: 60px !important;
        transition: 0.3s;
    }
    .THECOLLECTION__sp{
        width: 400px !important;
        margin-left: 45px;
    }


/*-----------------------------------------New Collection----------------------------------------------------------*/
    .content1-headingNC{
        font-size: 35px;
    }
    .content1NC .row{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: auto;
        margin-left: 10%;
        /* align-items: center; */
    }
    .content1NC .row .look{
        width: 230px;
        height: 350px;
    }
    .content1NC .row h6{
        margin-left: 100px !important;
    }
    .paragraph{
        text-align: left;
        font-size: 13px;
    }
    .content2-1NC .row{
        display: flex;
        flex-direction: column;
    }
    .content2-1NC>.container>.row>.col-4>img{
        width: 110%;
        height: 450px;
    }
    .content2-1NC>.container>.row>.col-4{
        width: 350px;
    }
    .content2-1NC>.container>.row>.col-6{
        width: 110%;
    }
    .content2-2NC .row{
        display: flex;
        flex-direction:column-reverse;
    }
    .content2-2NC>.container>.row>.col-6{
        margin-left: 0;
    }
    .content2-2NC>.container>.row>.col-4{
        margin-left: -12px;
    }
    .content2-2NC>.container>.row>.col-6{
        width: 110%;
    }
    .content2-1NC>.container>.row>.col-6>.paragraph{
        margin-top: 0px;
    }
    .content2-2NC>.container>.row>.col-6>.paragraph{
        margin-top: 0px;
    }
    /* -----------------------------------------------------SSStory---------------------------------------------------------------- */
    .body{
        padding: 0 5%;
    }
    .body .author-info{
        margin-top: 50px;
        margin-left: 20px;
    }
    .body .content-story{
        font-size: 12px;
        margin: 30px 0;
    }
    /* -----------------------------------------------------San Pham Nam---------------------------------------------------------------- */
    .xemsp{
        flex-direction: column;
    }
    .thongtinsp-img>.bigimg>.imgbig-sp{
        width: 100%;
    }
    .thongtinsp-img{
        width: 100%;
    }
    .thongtinsp-text{
        width: 100%;
        margin-left: 5px;
    }
    .chitiet{
        flex-direction: column;
    }
    .chitiet img{
        width: 100% !important;
    }
}




/*TABLET: WIDTH>=740PX AND WIDTH<1024PX*/
@media only screen and (min-width:37.5em) and (max-width:63.9375em) {
    .contain{
        width: 100%;
        overflow: hidden;
    }
    .user{
        display: none;
    }
    .search{
        display: none;
    }
    .slider-sanpham:hover .left{
        display: none;
    }
    .slider-sanpham:hover .right{
        display: none;
    }
    .shopping{
        display: none;
    }
    .image-content1{
        padding-left: 0 !important;
    }
    .content4 .col-sm-3>a>img{
        width: 150px;
        height: 200px;
    }
    .content4 .col-sm-3{
        margin: 0 20px;
    }
    .content2 .col-sm-3>a>img{
        width: 180px;
        height: 230px;
    }
    .content2 .col-sm-3{
        margin: 0 10px;
        max-width: 180px;
    }
    .content3 .col-sm-4>a>img{
        width: 300px;
        height: 380px;
    }
    .content3 .col-sm-4{
        margin: 0 10px;
        max-width: 300px;
    }
    .content3 .row{
        margin: auto;
    }
    .content4 .col-sm-3{
        margin: 0;
    }
    .content5 .row{
        margin: auto;
    }
    .content5 .col-sm-6>a>img{
        width: 250px;
    }
    .content5 .col-sm-6{
        max-width: 250px;
        margin: auto;
    }
    .col-footer{
        margin-left: 20px;
        margin-right: 20px;
    }

/*-------------------------------------Daily better--------------------------*/
    .text__img>img{
        width: 260px;
        padding: 0;
    }
    .section__layout{
        padding: 0 10px;
    }
    .section__layout .video__layout{
        width: 70%;
        margin: auto;
    }
    .img__layout{
        margin-bottom: 20px !important;
    }
    .row__album{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* flex-wrap: nowrap; */
    }
    .img-THECOLLECTION{
        margin-left: 8%;
    }
    .THECOLLECTION__sp{
        width: 450px !important;
        margin-left: 45px;
    }
    .THECOLLECTION__sp>p{
        margin-left: 110px !important;
    }
    .THECOLLECTION__sp:hover p{
        margin-left: 130px !important;
        transition: 0.5s;
    }

    /*------------------------------------New Collection------------------------------------------------*/
    /* .content1NC .row{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: auto;
         align-items: center; 
         flex-wrap: wrap; 
    } */
    .content1NC .row .look{
        width: 230px;
        height: 350px;
    }
    .content1NC .col-3{
        width: 240px !important;
    }
/*-----------------------------------------New Collection----------------------------------------------------------*/
    .content2-2NC .row{
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
    }
    .content2-1NC .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content2-1NC>.container>.row>.col-6{
        width: 110%;
    }
    .content2-1NC>.container>.row>.col-4>img{
        margin-left: -100px;
        
    }
    .content2-2NC>.container>.row>.col-6{
        width: 110%;
        margin-left: 0;
    }
    .content2-2NC>.container>.row>.col-4>img{
        margin-left: -70px;
        
    }
    .content2-1NC>.container>.row>.col-6>.paragraph{
        margin-top: 100px;
    }
    .content2-2NC>.container>.row>.col-6>.paragraph{
        margin-top: 100px;
    }
    /* -----------------------------------------------------SSStory---------------------------------------------------------------- */
    .body{
        padding: 0 10%;
    }
}

